.todo{
    text-align: center;
    font-size: medium;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo input{
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(162, 238, 216);
}
.todo button{
    padding: 2px 4px;
    border-radius: 5px;
}