.grid{
    height: 600px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
    left: 400px;
    top: 20px;   
}

.turn_highlight{
    text-align: center;
}
.reset{
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    left: 620px;
}