.aboutBody{
    background-image: url("C:\Users\Desktop\ReactJS\portfolio\src\About\pexels-hngstrm-1939485.jpg");
    height: 100vh;
    z-index: -1;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}