/* Nav.css */

/* General Styles */
.header {
    background-image: linear-gradient(to right, rgb(100 116 139), rgb(148 163 184));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
}

.header .menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-link {
    color: #000; 
}
.nav-link.active {
    color: #007bff; 
}
  
.header li {
    letter-spacing: 0.1em;
    margin-right: 20px;
}

.header li a {
    text-decoration: none;
    color: rgb(241 245 249);
    font-size: 1em;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

.header li a:hover {
    background-color: #8cbbbe;
    color: white;
    border-radius: 5px;
}

.main_head {
    text-align: center;
    margin: 20px;
    background-color: transparent;
}

.main_head h2 {
    font-size: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    background-color: #ecece7;
    border-radius: 5px;
}

/* Media Queries */
@media (max-width: 780px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header .menu-toggle {
        display: block;
        margin-right: 20px;
        z-index: 20;
    }

    .header ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ecece7;
        padding: 10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .header ul.show {
        display: flex;
        position: static; /* Make the menu part of the document flow */
    }

    .header li {
        margin: 10px 0;
    }

    .header li a {
        display: block;
        padding: 10px;
        font-size: 1.2em;
    }

    /* Adjust body content when menu is open */
    body.menu-open .main {
        margin-top: 200px; /* Adjust this value based on the height of your menu */
    }
}
