.contact_page{
    background-image: url("C:\Users\Desktop\ReactJS\portfolio\src\Contact\Designer.png");
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

.right{
    width: 50%;
    margin: 50px;
    font-family: 'Times New Roman', Times, serif;

}
.left{
    width: 45%;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.left h1{
  position: relative;
  top: 6px;
}

.footer-icon{
    position: relative;
    bottom: 200px;
    left: 30px;
}

.footer-icon a {
  margin-right: 10px;
  color: rgb(60, 57, 57);
  font-size: 24px;
  margin: 20px;
  text-decoration: none;
}

.footer-icon a:last-child {
  margin-right: 0;
}

@media (max-width: 780px) {
  .contact_page {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    background-image: none;
  }

  .left p {
    display: none; 
  }
  .left h1{
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.8rem;
    text-align: center;
  }

  .right {
    width: 80%; 
    margin-top: 20px;
  }

  .footer-icon {
    display: flex;
    bottom: 10px; 
    transform: translateX(-50%); 
  }
}
