.contact_page{
    background-image: url("C:\Users\Desktop\ReactJS\portfolio\src\Contact\leone-venter-VieM9BdZKFo-unsplash.jpg"), linear-gradient(rgb(71 85 105/30%), rgba(39, 60, 89, 0.3));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    filter: brightness(0.8) contrast(1.2);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

.right{
    width: 40%;
    margin: 50px;
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.right label{
  font-size: larger;
  font-weight:  600px;
}
.right input{
  background-color: rgb(100 116 139);
  font-weight: 500;
}
.right textarea{
  background-color: rgb(100 116 139);
}
.right button{
  background-color: rgb(71 85 105);
}
.left{
    width: 45%;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}
.left h1{
  position: relative;
  top: 6px;
  margin: 20px;
  text-align: center;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.left p{
  margin: 20px;
}

.footer-icon a {
  margin-right: 10px;
  color: rgb(60, 57, 57);
  font-size: 24px;
  margin: 20px;
  text-decoration: none;
}

.footer-icon a:last-child {
  margin-right: 0;
}

@media (max-width: 780px) {
  .contact_page {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
  }

  .left p {
    display: none; 
  }
  .left h1{
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.8rem;
    text-align: center;
  }
  .right {
    width: 80%; 
    margin-top: 20px;
  }
  .image{
    display: none;
  }
  .footer-icon{
    position: absolute;
    bottom: 0;
  }
}
