.header{
    margin-top: 30px;
  } 
  .header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 86px;
  }
  .header li {
    letter-spacing: 0.1em;
  }
  .header li a{
    text-decoration: none;
    color: black;
  }