  .body {
    height: 92vh;
    width: 100%;
    background-image: url('C:\Users\Desktop\ReactJS\portfolio\src\About\leone-venter-VieM9BdZKFo-unsplash.jpg'), linear-gradient(rgb(88 120 126 / 30%), rgb(97 76 76 / 30%));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    filter: brightness(0.8) contrast(1.2);
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  .content {
    position: relative;
    left: 40px;
    top: -70px;
    padding: 20px;
    background-color: transparent; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px; 
    color: #333; 
  }
  
  h2 {
    font-size: 24px; 
    color: #666; 
  }
  
  p {
    font-size: 18px; 
    color: #555; 
  }
  
  button {
    position: relative;
    top: 60px;
    padding: 15px 25px;
    font-size: 16px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button a{
    text-decoration: none;
    color: white;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  footer {
    width: 90%;
    /* height: auto; */
    height: 0px;
    background-color: transparent;
    /* padding: 20px; */
  }
  
  .footer-icons {
    
    display: block;
    position: absolute;
    bottom: 2px;
    left: 40px;
    /* gap: 20px */
    /* border: 1px solid black; */
  }
  
  .footer-icons a {
    margin-right: 10px;
    color: rgb(60, 57, 57);
    font-size: 24px;
    margin: 20px;
    text-decoration: none;
  }
  
  .footer-icons a:last-child {
    margin-right: 0;
  }
  
  
  
  .menu-toggle {
    display: none; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    padding: 10px;
  }
  .menu-toggle:hover{
    color: #007bff;
  }
  
  @media (max-width: 780px) {
    .header ul {
        display: none; 
    }
    
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-blend-mode: normal;

    }
    
    .content {
      position: relative;
      width:auto;
      height: auto;

      /* Center the content horizontally */
      margin-left: auto;
      margin-right: auto;
      box-shadow: none;
    }
    .content button{
      position: relative;
      top: 10px;
    }
    .footer-icons{
      position: fixed;
      margin: 20px;
    }

    .menu-toggle {
      display: block; 
      text-align: right;
      margin-right: 20px;
    }
  
    .header ul.show {
      display: block; 
      display: flex;
      flex-direction: column;
    }
  
    .header ul.hide {
      display: none; 
    }
  }
  
  